@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #F9F9F8;
  --orange: #EB5E28;
  --light-orange: rgba(255, 85, 0, 50%);
  --very-light-orange: rgba(223, 191, 175, 30%);
  --brown: #403D39;
  --gray: #5F5F5F;
  --light-gray: #808080;
  --dark: #252422;
  --white: #fff;
}

body {
  background-color: var(--bg-color);
  font-family: 'Inter';
}

h1 {
  font-size: 36px;
  color: var(--dark);
}

h4 {
  font-weight: normal;
}

p {
  color: var(--dark);
}

button {
  border: none;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 18px;
  color: var(--white);
}

.header-bg {
  border-bottom: 1px solid #e4e4e4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-menu li {
  display: flex;
  align-items: center;
}

.header-menu span {
  cursor: pointer;
  font-size: 28px;
  color: var(--brown);
}

.header-menu img {
  border-radius: 50%;
}

section {
  padding: 20px 0;
}

.s-calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 20px 10px;
  max-width: 1200px;
  margin: auto;
}

.s-calendar p {
  padding: 0 0 0 10px;
  width: 40ch;
}

.s-calendar--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.s-calendar--year {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.s-calendar--year span {
  cursor: pointer;
  font-size: 36px;
  color: var(--dark);
}

.add-event {
  cursor: pointer;
  background-color: var(--dark);
  padding: 6px 20px;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .header {
    justify-content: center;
  }
  
  .s-calendar {
    align-items: center;
  }

  .s-calendar p {
    text-align: center;
    width: 30ch;
  }

  .s-calendar--container {
    justify-content: center;
  }
}